@import "tailwindcss";
@tailwind utilities;

@variant dark (&:where(.dark, .dark *));

@theme {
  --color-light-theme: #f9fafb; /* gray-50 */
  --color-dark-theme: #111827; /* gray-900 */
  
  --color-light-tx: #1f2937; /* gray-800 */
  --color-dark-tx: #f3f4f6; /* gray-100 */
  
  --color-shadow-light: #e5e7eb;
  --color-shadow-dark: #1f2937; /* for shadow-dark_theme */
}

@layer utilities {
    .toggle-thumb-visible {
        position: relative;
        height: 1.5rem;
        width: 2.75rem;
        border-radius: 9999px;
        --tw-bg-opacity: 1;
        background-color: rgb(223 242 254 / var(--tw-bg-opacity, 1));
    }

    .toggle-thumb-visible:is(.dark *) {
        background-color: rgb(75 85 99); /* slate-600 */
        border-color: rgb(75 85 99);
    }

    .toggle-thumb-visible::after {
        position: absolute;
        top: 0.125rem;
        left: 2px;
        height: 1.25rem;
        width: 1.25rem;
        border-radius: 9999px;
        border-width: 1px;
        background-color: white;
        transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
        content: '';
        border-color: rgb(209 213 219);
    }

    .peer:checked ~ .toggle-thumb-visible {
        background-color: rgb(37 99 235); /* blue-600 */
    }

    .peer:checked ~ .toggle-thumb-visible::after {
        transform: translateX(100%);
        border-color: white;
    }

    /* ORGANIZATION CHART */
    .tree {
        overflow-x: auto;
        padding-bottom: 2rem;
    }

    .tree .tree-group {
        position: relative;
        padding-top: 20px; 
        display: flex;
        justify-content: center;
        margin: 0;
        padding-left: 0;
    }

    .tree .tree-group > li {
        float: left; 
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 10px 0 10px;
        transition: all 0.5s;
    }

    .tree .tree-group > li::before, .tree .tree-group > li::after {
        content: '';
        position: absolute; 
        top: 0; 
        right: 50%;
        border-top: 2px solid #cbd5e1; 
        width: 50%; 
        height: 20px; 
        border-color: #cbd5e1;
    }

    .tree .tree-group > li::after {
        right: auto; 
        left: 50%;
        border-left: 2px solid #cbd5e1;
    }

    .tree .tree-group > li:first-child::before, .tree .tree-group > li:last-child::after {
        border: 0 none;
    }

    .tree .tree-group > li:last-child::before {
        border-right: 2px solid #cbd5e1;
        border-radius: 0 5px 0 0;
    }

    .tree .tree-group > li:first-child::after {
        border-radius: 5px 0 0 0;
    }

    .tree .tree-group > li:only-child::after, .tree .tree-group > li:only-child::before {
        display: none;
    }

    .tree .tree-group > li:only-child { 
        padding-top: 0;
    }

    .tree .tree-group .tree-group::before {
        content: '';
        position: absolute; 
        top: 0; 
        left: 50%;
        border-left: 2px solid #cbd5e1;
        width: 0; 
        height: 20px; 
        transform: translateX(-50%);
        border-left: 2px solid #cbd5e1;
    }

    :is(.dark .tree .tree-group > li)::before, 
    :is(.dark .tree .tree-group > li)::after {
        border-color: #4b5563; /* gray-600 */
    }

    :is(.dark .tree .tree-group > li:last-child)::before {
        border-right-color: #4b5563;
    }

    .tree .tree-group > li:after {
        border-left: 2px solid #cbd5e1;
    }

    :is(.dark .tree .tree-group > li)::after {
        border-left-color: #4b5563;
    }

    :is(.dark .tree .tree-group .tree-group)::before {
        border-left-color: #4b5563;
    }
}