@import "tailwindcss";
@tailwind utilities;

@layer utilities {
    .toggle-thumb-visible {
    position: relative;
    height: 1.5rem;
    width: 2.75rem;
    border-radius: 9999px;
    --tw-bg-opacity: 1;
    background-color: rgb(223 242 254 / var(--tw-bg-opacity, 1));
    }

    .toggle-thumb-visible:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(75 85 99 / var(--tw-bg-opacity, 1)); /* slate-600 */
    }

    .toggle-thumb-visible::after {
    position: absolute;
    top: 0.125rem;
    left: 2px;
    height: 1.25rem;
    width: 1.25rem;
    border-radius: 9999px;
    border-width: 1px;
    --tw-border-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    --tw-content: '';
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(209 213 219 / var(--tw-border-opacity, 1));
    }

    .toggle-thumb-visible:is(.dark *) {
    --tw-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--tw-border-opacity, 1));
    }

    .peer:checked ~ .toggle-thumb-visible {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    }

    .peer:checked ~ .toggle-thumb-visible::after {
    --tw-translate-x: 100%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
    content: var(--tw-content);
    --tw-border-opacity: 1;
    border-color: rgb(255 255 255 / var(--tw-border-opacity, 1));
    }

    .peer:focus ~ .toggle-thumb-visible {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(147 197 253 / var(--tw-ring-opacity, 1));
    }

    .peer:checked ~ .toggle-thumb-visible:is(.dark *) {
    --tw-bg-opacity: 1;
    background-color: rgb(37 99 235 / var(--tw-bg-opacity, 1));
    }

    .peer:focus ~ .toggle-thumb-visible:is(.dark *) {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgb(30 64 175 / var(--tw-ring-opacity, 1));
    }

    /* TRANSITION */
    .table-container {
    position: relative;
    max-height: 60vh;
    }

    .transition-table {
    position: absolute; 
    top: 0;
    left: 0;
    transition: opacity 0.5s ease-in-out;
    }

    .transition-table.ng-hide-add {
    opacity: 1;
    }

    .transition-table.ng-hide-add.ng-hide-add-active {
    opacity: 0;
    }

    .transition-table.ng-hide-remove {
    opacity: 0;
    }

    .transition-table.ng-hide-remove.ng-hide-remove-active {
    opacity: 1;
    }

    /* ORGANIZATION CHART */
    .tree {
        overflow-x: auto;
        padding-bottom: 2rem;
    }

    /* ONLY TREE STRUCTURE */
    .tree .tree-group {
        position: relative;
        padding-top: 20px; 
        display: flex;
        justify-content: center;
        margin: 0;
        padding-left: 0;
    }

    /* ONLY DIRECT TREE NODES */
    .tree .tree-group > li {
        float: left; 
        text-align: center;
        list-style-type: none;
        position: relative;
        padding: 20px 10px 0 10px;
        transition: all 0.5s;
    }

    .tree .tree-group > li::before, .tree .tree-group > li::after {
        content: '';
        position: absolute; 
        top: 0; 
        right: 50%;
        border-top: 2px solid #cbd5e1; 
        width: 50%; 
        height: 20px; 
    }

    .tree .tree-group > li::after {
        right: auto; 
        left: 50%;
        border-left: 2px solid #cbd5e1;
    }

    /* FIRST/LAST CHILD */
    .tree .tree-group > li:first-child::before, .tree .tree-group > li:last-child::after {
        border: 0 none;
    }

    .tree .tree-group > li:last-child::before {
        border-right: 2px solid #cbd5e1;
        border-radius: 0 5px 0 0;
    }
    .tree .tree-group > li:first-child::after {
        border-radius: 5px 0 0 0;
    }

    /* SINGLE CHILD */
    .tree .tree-group > li:only-child::after, .tree .tree-group > li:only-child::before {
        display: none;
    }
    .tree .tree-group > li:only-child { 
        padding-top: 0;
    }

    .tree .tree-group .tree-group::before {
        content: '';
        position: absolute; 
        top: 0; 
        left: 50%;
        border-left: 2px solid #cbd5e1;
        width: 0; 
        height: 20px; 
        transform: translateX(-50%);
    }
}